<div>
    <app-header [background]="true" ></app-header>
    <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
    <section class="mainSection">
        <div class="container pb-5 pt-5">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="mainTitle">Sobre o painel de Indicadores</h1>
                    <p class="mainText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="img-fluid" src="/assets/images/about/about.png" />
                </div>
            </div>
        </div>
    </section>
    <section class="secondarySection">
        <div class="container pt-5 pb-5">
            <h1 class="mainTitle">Lorem Ipsum</h1>
                <p class="mainText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
        </div>
    </section>
    <app-footer></app-footer>
</div>