.mainTitle{
    font-size: 3rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.mainText{
    font-size: 1.5rem;
    color:RGBA(19, 36, 70, 0.59);
    margin-bottom: 20px;
    text-align: justify;
}

.secondarySection{
    background-color: #d7d7d7;
}