<app-header [background]="true" ></app-header>
<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="mainSection">
    <div class="container">
        <div class="iconArea">
            <i class="fa-solid fa-shield-halved"></i>
        </div>
        <h1 class="titleArea"> Segurança em defesa da vida </h1>
        <div class="row">
            <div class="col-md-9">
                <p class="descriptionArea">Conter a escalada da violência é um dos maiores desafios atuais da gestão pública. O crescimento da violência tem se mostrado um fenômeno cada vez mais complexo, que envolve problemas de diversas esferas sociais e econômicas</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="card CardAreas ">
                    <div class="card-body">
                        <h5 class="card-title">Desafios</h5>
                        <ul class="menuLateral" >
                            <li class="nav-item">
                                <a class="nav-link d-flex">
                                    <div class="m-auto">
                                        <i class="fa-solid fa-shield-halved me-2"></i>
                                    </div>
                                    <div>
                                        Segurança em defesa da vida
                                    </div> 
                                </a>
                            </li>
                            <li>
                                <a>
                                    Educação para o futuro
                                </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
        &nbsp;
    </div>
</section>